<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Note: Add links to bootstrap and css from wwwroot-->
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
