@model BooksListViewModel
@{
    ViewData["Title"] = "ListOfBooks";
}

<h1>ListOfBooks</h1>

@foreach (var book in Model.Books)
{
<div>
    <h1>@book.BookGenre</h1>
    <h1>@book.BookId</h1>
</div>
}





